nav#primaryNav {
  background-color: #ccc;

  li {
    display: inline;
  }
}

footer dl {
  display: inline;

  dt, dd {
    display: inline;
  }

  dt {
    font-weight: normal;
    font-size: 1em;
  }
}

li#basicVersion {
  display:            none;
}